@import './base.css';

#app{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}
#main {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}
#caja{
    box-shadow: 1px 1px 20px 1px black;
    border-radius: 20px;
    padding: 5rem;
    width: 45%;
}
